/* SignUp.css */
.signup-container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    min-height: 91vh;
    background-color: #f5f5f5;
  }
  
  .signup-form {
    background: white;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  input.error {
    border-color: red;
  }
  
  .error-message {
    color: red;
    font-size: 12px;
  }
  
  .success-message {
    color: green;
    text-align: center;
    margin-bottom: 15px;
  }
  
  .btn-submit {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-submit:hover {
    background-color: #45a049;
  }
  
  .signin-link {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
  }
  
  .signin-link a {
    color: #007bff;
    text-decoration: none;
  }
  