version: "3.8"

services:
  code_frontend:
    # build: 
    #   context: ./client
    #   dockerfile: Dockerfile.prod
    image: gehlotnikhil38/code_frontend:v2
    container_name: cont_frontend
    ports:
      - "80:80"
    networks:
      - coding-nw
    restart: always

  code_backend:
    # build: 
    #   context: ./server
    #   dockerfile: Dockerfile.prod
    image: gehlotnikhil38/code_backend:v2
    container_name: cont_backend
    environment:
      - FRONTEND=http://13.126.60.207
    ports:
      - "8000:8000"
    networks:
      - coding-nw
    restart: always

  code_ws2:
    # build: 
    #   context: ./ws2
    #   dockerfile: Dockerfile.prod
    image: gehlotnikhil38/code_ws2:v2
    container_name: cont_ws2
    ports: 
      - "8081:8081"
    environment:
      - SERVER_URL=http://code_backend:8000
    depends_on:
      - code_backend
    networks:
      - coding-nw
    restart: always

networks:
  coding-nw:

volumes:
  mongodb_data: